**/.DS_Store
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
/bin
/target
LICENSE
README.md

/demo
/helm
.env.*
arc.*
architecture.md
