[package]

name = "status-list-server"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "status-list-server"
path = "src/main.rs"

[dependencies]
chrono = "0.4"
anyhow = "1.0"
async-trait = "0.1"
base64url = "0.1"
once_cell = "1.20"
serde_json = "1.0"
rand = "0.9"
sha2 = "0.10"
coset = "0.3"
jsonwebtoken = "9.3"
http-body-util = "0.1"
tracing-subscriber = "0.3"
axum = { version = "0.8", features = ["macros"] }
dotenvy = "0.15"
flate2 = "1.1.0"
hyper = "1.6"
serde = { version = "1.0", features = ["derive"] }
sqlx = { version = "0.8", features = ["postgres", "runtime-tokio"] }
thiserror = "2.0"
tokio = { version = "1.16", features = ["full"] }
tower = "0.5"
tower-http = { version = "0.6", features = ["cors", "trace", "catch-panic"] }
tracing = "0.1.41"
p256 = { version = "0.13", features = ["pkcs8", "ecdsa", "alloc", "pem"] }
pem = "3.0.5"
sea-orm = { version = "1.1.7", features = [
    "sqlx-postgres",
    "runtime-tokio-native-tls",
    "macros",
] }
aws-config = "1.6"
aws-sdk-secretsmanager = "1.68"
uuid = { version = "1.16.0", features = ["v4"] }
lazy_static = "1.5.0"


[dev-dependencies]
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
sea-orm = { version = "1.1.7", features = ["mock"] }

[dependencies.sea-orm-migration]
version = "1.1.7"
features = ["sqlx-postgres", "runtime-tokio-native-tls"]
