[package]

name = "status-list-server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
axum = { version = "0.8", features = ["macros"] }
base64url = "0.1"
dotenvy = "0.15"
flate2 = "1.1.0"
http-body-util = "0.1"
hyper = "1.6"
jsonwebtoken = "9.3"
once_cell = "1.20"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.8", features = ["postgres", "runtime-tokio"] }
thiserror = "2.0"
tokio = { version = "1.16", features = ["full"] }
tower = "0.5"
tower-http = { version = "0.6", features = ["cors", "trace", "catch-panic"] }
tracing = "0.1"
tracing-subscriber = "0.3"
