[package]

name = "status-list-server"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = "0.4"
anyhow = "1.0"
flate2 = "1.1.0"
tracing = "0.1"
hyper = "1.6"
tower = "0.5"
dotenvy = "0.15"
thiserror = "2.0"
async-trait = "0.1"
base64url = "0.1"
once_cell = "1.20"
serde_json = "1.0"
pem = "3.0"
rand = "0.8"
sha2 = "0.10"
jsonwebtoken = "9.3"
http-body-util = "0.1"
tracing-subscriber = "0.3"
axum = { version = "0.8", features = ["macros"] }
serde = { version = "1.0", features = ["derive"] }
sqlx = { version = "0.8", features = ["postgres", "runtime-tokio"] }
tokio = { version = "1.16", features = ["full"] }
ed25519-dalek = { version = "2.1", features = ["pkcs8", "pem", "serde"] }
tower-http = { version = "0.6", features = ["cors", "trace", "catch-panic"] }
