[package]
name = "status-list-server"
version = "0.1.0"
edition = "2021"

[dependencies]
# Async runtime and utilities
tokio = { version = "1", features = ["full"] }
async-trait = "0.1"

# Web frameworks
hyper = "1.7"
hyper-util = "0.1"
reqwest = "0.12"
http-body-util = "0.1"
tower = "0.5"
hyper-rustls = { version = "0.27", features = ["http2"] }
axum = { version = "0.8", features = ["macros"] }
tower-http = { version = "0.6", features = ["cors", "trace", "catch-panic"] }

# Database and ORM
sea-orm = { version = "1.1", features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
    "macros",
] }
sea-orm-migration = { version = "1.1", features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
] }
moka = { version = "0.12", features = ["future"] }

# Cryptography and Security
rand = "0.9"
pem = "3"
coset = "0.4"
instant-acme = "0.8"
rustls = "0.23"
webpki-roots = "1"
rustls-pki-types = "1.13"
secrecy = { version = "0.10", features = ["serde"] }
rcgen = { version = "0.14", features = ["pem"] }
jsonwebtoken = { version = "10", features = ["aws_lc_rs"] }

# Serialization
serde_json = "1.0"
serde-aux = "4"
serde = { version = "1.0", features = ["derive"] }

# Configuration and Environment
config = "0.15"
dotenvy = "0.15"

# AWS related libraries
aws-config = "1"
aws-sdk-s3 = "1"
aws-sdk-route53 = "1"
aws-sdk-secretsmanager = "1"
aws_secretsmanager_caching = "2"

# Logging and Tracing
tracing = "0.1"
tracing-subscriber = "0.3"

# Error handling
thiserror = "2.0"
color-eyre = "0.6"

# Utility Libraries
uuid = "1"
base64 = "0.22"
chrono = "0.4"
base64url = "0.1"
flate2 = "1.1"
x509-parser = "0.18"
public-suffix = "0.1"
tokio-cron-scheduler = "0.15"

[dependencies.redis]
version = "0.32"
features = ["tokio-rustls-comp", "connection-manager"]

[dependencies.p256]
version = "0.13"
features = ["pkcs8", "ecdsa", "alloc", "pem"]

[dev-dependencies]
sealed_test = "1.1.0"
sea-orm = { version = "1.1", features = ["mock"] }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.6"

[profile.dev.package.backtrace]
opt-level = 3
