apiVersion: v1
kind: Service
metadata:
  name: {{ include "status-list-server-chart.fullname" . }}-service
  labels:
    app: {{ include "status-list-server-chart.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .Values.statuslist.service.type }}
  ports:
  - name: http
    port: {{ .Values.statuslist.service.port }}
    targetPort: {{ .Values.statuslist.service.targetPort }}
    protocol: TCP
  selector:
    app: {{ include "status-list-server-chart.name" . }}